.Section{
    background-color: #282c34;
    min-height: 100vh;
  }
  
  .grid {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;    
    gap: 100px;
  }
  
  .img{
    width: 20%;
}