.column-container {
    background-color: #F1F8E8;
    
    justify-content: center;
    align-items: center;
    padding: 20px;
    flex-wrap: wrap;
    column-gap: 50px;
    display: flex;
    min-height: 100vh;
}

.left-column {
    flex: 1;
    display: flex;
    min-width: 250px;
    max-width: 600px;
}

.right-column {
    flex: 1;
    display: flex;
    min-width: 250px;
    max-width: 500px;

}

#quote {
    font-size: 3.5em;
    font-style: normal;
    margin-bottom: 20px;

    color:#55AD9B;
    max-width: 600px;
    height: auto;

    white-space: pre-wrap;
    word-wrap: break-word;
    transition: all 3s;
}

.random-button {
    font-size: 1em;
    color: #F1F8E8;
    background-color: #55AD9B;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 400px;
    height: 44px;

}


.imgContainer {
    border-radius: 25px;
    overflow: hidden;
    max-width: 800px;
    max-height: 800px;
}

#myImg {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    /* Adjusts the container height, full viewport in this case */
    object-fit: contain;
}